/* ===================================================== 
 *	Stylesheet for the website Sheringham Films.               
 *	Author: Josh Bour									 
 *	Year: 2013   
 *                          
 *	------------------Table of contents----------------
 * 			Content        		|        Lines
 *  1) Imports 					: 		 #
 *	2) Style resets 			:        #
 *	3) Standard html tags   	: 	     #
 *  4) Standard Page Elements   :        #
 * 	   4a) Top Content	    	:		 #
 * 	   4b) Sidebar          	:       #
 * 	   4c) Main             	:       #
 * 	   4d) Footer				:       #
 *  5) Specific Page Elements   :       #
 * 
 *             
 * ===================================================== */




/* ===================================================== */
/*                  	 Imports                         */
/* ===================================================== */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

/* ===================================================== */
/*                  	 Style Reset                     */
/* ===================================================== */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    /*vertical-align:baseline;*/
    background:transparent;
}

ol, ul {list-style: none;}

table {border-spacing:0px;}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

/* ===================================================== */
/*                 Standard Html Tags                    */
/* ===================================================== */


body {
	background: #0f0f0f url('../images/body-bg.png');
	font-family:  'Source Sans Pro', sans-serif;
	color: #fff;
	font-size: 12px;
    line-height:1;
}

h1 {color: #fff; border-bottom: 1px solid #797979;}
h2 {color: #fff;}
h3 {color: #405B65}
h1, h2, h3{margin: 5px 0; text-align:center; font-size:16px;}

strong {font-weight: bold;}

a {color: #fff; text-decoration: none;}
/*a:visited {color: #000;} */
a:hover {text-decoration: underline;}

input, select, textarea {
	padding: 7px;
	border-radius: 1px;
	border: 1px solid #666;
	outline: none;
	background: #ccc url('../images/input-bg.png') repeat;
	font:normal 11px Arial, Helvetica, sans-serif;
	color: #fff;
}

textarea {resize:vertical; }
select, textarea { background: #333; color:#fff;}
input[type="checkbox"] {background: none; border: none;}

/* ===================================================== */
/*                       Header                          */
/* ===================================================== */

header{
    position:fixed;
    width:100%;
    border-bottom:1px solid #333;
    background:#333 url('../images/top-header-bg.png');
    overflow:hidden;
    text-align:center;
    z-index: 50;
}

header #topWrapper{
    width:965px;
    height:40px;
    margin:0 auto;
}

#logo a{
    display: block;
    height: 20px;
    width: 99px;
    margin-top: 9px;
    background: transparent url('../images/logo.png') no-repeat 0 0;
    text-indent: -9999px;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

#logo a:hover{
    background-position: 0 -21px;
}

header #logo{
    float:left;
}

#flash {
    position: absolute;
    top: 50px;
    width: 965px;
    left: 50%;
    margin-left: -482.5px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #333;
	text-align: center;
	background: url(../images/flash-bg.png) 50% 50%;
	color: #fff;
}

/* ===================================================== */
/*                  Application Layout                   */
/* ===================================================== */

#content{
	width: 965px;
	padding: 91px 5px 20px 5px;
	margin: 0 auto 0 auto;
	min-height: 500px;
	overflow: hidden;
	font:normal 14px 'Yanone Kaffeesatz', sans-serif;
}

aside{
    float:left;
}

aside h1{
    font-weight:normal;
    border-bottom-color:#444;
    padding-bottom:3px;
    color:#c4c4c4;
    text-align:left;
}

#main{
    float:right;
}

nav ul{
    margin-top:9px;
}

nav ul a{
    display:inline-block;
    color:#aaa;
    font-weight:bold;
    vertical-align: middle;
}

nav ul li:first-child a{
    padding-left:20px;
    background:transparent url('../images/user-dot-icon.png') center left no-repeat;
    transition:background 0.5s;
   -webkit-transition:background 0.5s;
}

nav ul li:first-child a:hover{
    background:transparent url('../images/user-dot-icon-hover.png') center left no-repeat;
}

nav ul li:first-child{
    border-right:1px solid #555;
}

nav ul img{
    vertical-align: middle;
}

nav ul li{
    display:inline-block;
    padding:0 8px;
}

nav ul a:hover{
    color:#eee;
    text-decoration:none;
}

#connect, nav{
    float:right;
}

#connect a{
    display:inline-block;
    padding:14px 10px;
    font-weight:bold;
    color:#ccc;
}

#connect a:first-of-type{
    border-right:1px solid #444;
}

    /* ===================================================== */
    /*                     Account Module                    */
    /* ===================================================== */

        /* ===================================================== */
        /*                     Login Action                      */

            #login, #register{
                width: 530px;
                margin: 80px auto 0 auto;
                padding: 10px;
                background: #111;
                border: 1px solid #252525;
                box-shadow: 5px 5px 20px #050505;
            }

            body.connectPage{
                background:#222 url('../images/login-bg.jpg') center center;
            }

            #login input, #register input{
                width: 375px;
            }

            #login h1, #register h1{
                padding: 0 5px 5px 5px;
            }

            #login input[name="submit"], #register input[name="submit"]{
                width:150px;
            }


    /* ===================================================== */
    /*                      User Module                      */
    /* ===================================================== */
        #userSettingsTabs li{
            border-bottom: 1px solid #222;
            border-top: 1px solid #111;
            word-wrap: break-word;
        }

        .userPage aside h1{
            text-align:center;
        }

        #userSettingsTabs li a{
            color: #666;
            padding: 10px 10px 10px 10px;
            border: 1px solid transparent;
            font: bold 12px Arial;
            display: block;
        }

        #userSettingsTabs li.active a{
            background: url('../images/tab-list-dark.png') 50% 50%;
            border: 1px solid #333;
        }

        #userSettingsTabs li:hover a{
            background: url('../images/tab-list-light.png') 50% 50%;
            border: 1px solid #333;
            color:#bbb;
            text-decoration:none;
        }


        /* ===================================================== */
        /*                 Preferences Action                    */


    /* ===================================================== */
    /*                     Game Module                       */
    /* ===================================================== */

        /* ===================================================== */
        /*                     List Action                       */

            .gameList aside input[name="gameSearch"]{
                width:244px;
            }

            #gamesList li{
                display: inline-block;
                float:left;
                text-align:center;
                margin: 10px 5px;
                border: 1px solid #222;
                box-shadow: 2px 2px 5px #000;
            }

            #gamesList li a:hover{
                text-decoration:none;
            }

            #gamesList li:hover{
                border: 1px solid #333;
                box-shadow: 2px 1px 2px #222;
            }

            #gamesList li img{
                display: block;
                border-top: 1px solid #333;
                border-bottom: 1px solid #333;
            }

            #gamesList .gameMeta a, #gamesList .gameMeta p{
                padding:7px;
                color:#bbb;
            }

            #gamesList .gameMeta a:hover{
                text-decoration:underline;
                color:#60b8d8;
            }

            #gamesList .gameMeta p{
                display:inline-block;
            }

            #gamesList span{
                display:block;
                font:normal 13px Arial;
                color:#ddd;
                margin:0;
                padding:7px;
                background-image:url('../images/list-header-bg.png');
            }

    /* ===================================================== */
    /*                   Common Module Values                */
    /* ===================================================== */
        .gameList aside, .userPage aside{
            width:260px;
        }

        .gameList #main, .userPage #main{
            border-left:1px solid #252525;
            width:667px;
            min-height:500px;
            padding-left:20px;
        }


	/* ===================================================== */
	/*                          Footer                       */

		footer{
			position:relative;
			margin-top:100px;
			overflow:hidden;
			background:#333 url(../images/footer-icon.jpg) no-repeat;
			width: 100%;
		}


/* ===================================================== */
/*                    Common Classes                     */
/* ===================================================== */

.inactive {display: none;}
.current {font-weight: bold;}
.focused {z-index: 9999;}
.disabled {cursor:default;}
.edit, .delete, .save, .cancel, .ban, .unban {cursor: pointer;}
.centered{margin: 0 auto;}

.notFound{
	padding: 10px;
	font: bold 13px arial;
}

.loadingImg {
	background: transparent url('../images/ajax-loader.gif');
	width: 126px;
	height: 22px;
	margin: 10px auto;
}

#shadow {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.9;
	filter: alpha(opacity=90);
	z-index: 99;
}

#above{
	position: relative;
	background:transparent;
	z-index: 100;
	cursor: pointer;
	opacity: 1;
}

	/* ===================================================== */
	/*                       Pagination                      */

		.paginationControl{
			margin: 10px auto;
			overflow:auto;
			text-align:center;
		}

		.paginationControl ul li{
			display: inline-block;
			background: #fafafa;
			border-radius: 2px;
			border: 1px solid #bbb;
		}

		.paginationControl ul li a{
			padding: 5px;
			display:block;
			color: #4CA1CF;
		}

		.paginationControl ul li:hover{
			background: #fefefe;
		}

		.paginationControl ul li a:hover{
			text-decoration:none;
			color:#195D82;
		}

		.paginationControl ul:first-of-type{
			margin-left:65px;
			display:inline;
		}

		.countOptions{
			float:right;
		}

	/* ===================================================== */
	/*                     Standard Form                     */

		.standardForm{
			margin: 15px auto;
			padding:7px;
			overflow: hidden;
			text-align: left;
		}

		.standardForm .element{
			margin-bottom: 20px;
		}

		.standardForm .formError{
			padding:5px;
			color:red;
		}

		.standardForm input, select, textarea {
			vertical-align: middle;
			margin-left: 25px;
			border-radius: 2px;
		}

		.standardForm label {
			width: 100px;
			display: inline-block;
			vertical-align: middle;
		}

		.standardForm input[type="submit"] {
			float: right;
			width: 120px;
		}